<app-header></app-header>

<div class="container">
  <div fxLayout="row" fxLayoutAlign="center center" class="content">
    <mat-card fxLayout="row" fxLayoutAlign="space-between center" class="card">
      <mat-card-content>
        <form action="">
          <mat-form-field>
            <input matInput type="text" placeholder="Search">
          </mat-form-field>
          <button mat-raised-button color="primary" type="submit" class="btn-search">Search</button>
        </form>
      </mat-card-content>
      <div>
        <button button="submit" mat-raised-button color="primary" class="btn-add">
          <mat-icon>add</mat-icon>
          Add Course
        </button>
      </div>
    </mat-card>
  </div>
</div>
<br>
<div class="container" fxLayout="row" fxLayoutAlign="center center">
  <div class="wrapper" >
    <h1>Courses</h1>
    <div class="course" fxLayout="row" fxLayoutAlign="space-between stretch">
      <div class="course-info">
        <div fxLayout="row" fxLayoutAlign="space-between baseline">
          <h3>Name</h3>
          <p>Duration</p>
          <p>Date</p>
        </div>
       <p>Description</p>
      </div>
      <div class="course-btn" fxLayout="column" fxLayoutAlign="space-around flex-end">
        <a mat-raised-button color="primary">Edit</a>
        <button mat-raised-button color="warn">Delete</button>
      </div>
    </div>
  </div>
</div>
