<app-header></app-header>

<div class="container">
  <div fxLayout="row" fxLayoutAlign="center center" class="content">
    <mat-card fxLayout="row" fxLayoutAlign="space-between center" class="card">
      <mat-card-content>
        <form action="">
          <mat-form-field>
            <input matInput type="text" placeholder="Search">
          </mat-form-field>
          <button mat-raised-button color="primary" type="submit" class="btn-search">Search</button>
        </form>
      </mat-card-content>
      <div>
        <button button="submit" mat-raised-button color="primary" class="btn-add">
          <mat-icon>add</mat-icon>
          Add Course
        </button>
      </div>
    </mat-card>
  </div>
</div>

<br>
<div class="container">
  <div fxLayout="row" fxLayoutAlign="center center" class="content">
    <mat-card class="card">
      <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
        <h3>Courses</h3>
      </mat-card-title>
      <mat-card-content>
        <div class="example-container mat-elevation-z8">
          <mat-table>
            <ng-container matColumnDef="date_posted">
              <mat-header-cell > Date Posted</mat-header-cell>
              <mat-cell></mat-cell>
            </ng-container>
            <ng-container matColumnDef="title">
              <mat-header-cell > Title</mat-header-cell>
              <mat-cell > </mat-cell>
            </ng-container>
            <ng-container matColumnDef="category">
              <mat-header-cell> Category</mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.category}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="delete">
              <mat-header-cell *matHeaderCellDef></mat-header-cell>
              <mat-cell *matCellDef="let element">
                <a
                  type="button">
                  <mat-icon class="icon">delete</mat-icon>
                </a>
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

